<br/>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <span class="glyphiconBigger">    Planet: <b>{{ user_planet.getName() }}</b></span>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
        <img class="roundBorders" src="{{ planet_image_path }}">
        <br/>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="mainBodyContentBox2">
            <br/>
            &nbsp;&nbsp;&nbsp; <span class="glyphiconMedium">Credits: {{ credits }}</span>
                    <span style="text-align: center;" class="glyphicon glyphicon-usd glyphiconMedium"
                          aria-hidden="true"></span>
            <hr/>
            &nbsp;&nbsp;&nbsp; <span class="glyphiconBigger">Zasoby Planety:</span>
            <table>
                <tr class="glyphiconMedium">
                    <th>&nbsp;&nbsp;&nbsp; Uranium:&nbsp;&nbsp;</th>
                    <th>{{ uranium }}</th>
                </tr>
                <tr class="glyphiconMedium">
                    <th>&nbsp;&nbsp;&nbsp; Ferrum:&nbsp;&nbsp;</th>
                    <th>{{ ferrum }}</th>
                </tr>
                <tr class="glyphiconMedium">
                    <th>&nbsp;&nbsp;&nbsp; Silicon:&nbsp;&nbsp;</th>
                    <th>{{ silicon }}</th>
                </tr>
                <tr class="glyphiconMedium">
                    <th>&nbsp;&nbsp;&nbsp; Helium:&nbsp;&nbsp;</th>
                    <th>{{ helium }}</th>
                </tr>
            </table>
        </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mainBodyContentBox">
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
    </div>
</div>