{% trans_default_domain 'FOSUserBundle' %}

<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 mainBodyContentBox">
    {{ render(controller('AppBundle:News:news')) }}
</div>

<div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>

<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 mainBodyContentBox">
    <h2 class="form-signin-heading">Zarejestruj się</h2>
    <hr/>
    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'form-signin', 'id': 'register_form'}}) }}
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        {{ form_label(form.email) }}
        <br/>
        {{ form_widget(form.email,{'attr': {'class': 'form-control', 'autofocus': ''}} ) }}
        {{ form_errors(form.email) }}
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <br/>
        {{ form_label(form.username) }}
        <br/>
        {{ form_widget(form.username,{'attr': {'class': 'form-control'}} ) }}
        {{ form_errors(form.username) }}
        <br/>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        {{ form_label(form.plainPassword.first) }}
        <br/>
        {{ form_widget(form.plainPassword.first,{'attr': {'class': 'form-control'}} ) }}
        {{ form_errors(form.plainPassword.first) }}
        <br/>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        {{ form_label(form.plainPassword.second) }}
        <br/>
        {{ form_widget(form.plainPassword.second,{'attr': {'class': 'form-control'}} ) }}
        {{ form_errors(form.plainPassword.second) }}
        <br/>
        <br/>
    </div>
    <input class="btn btn-lg btn-primary btn-block" onclick="Register.Run();" type="submit"
           value="{{ 'registration.submit'|trans }}"/>
    <br/>
    {{ form_end(form) }}
</div>