{% extends "UserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block top_body_javascripts %}
    {{ parent() }}
    {% javascripts
    'public/Bundles/User/js/encrypt.min.js'
    'public/Bundles/User/js/login.min.js'

    filter='?uglifyjs2' %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock %}

{% block fos_user_content %}
    {% if error %}
        <script type="text/javascript">toastr["error"]("{{ error.messageKey|trans(error.messageData, 'security') }}", "{{ 'login.failed'|trans }}");</script>
    {% endif %}


    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 mainBodyContentBox">
        {{ render(controller('AppBundle:News:news')) }}
    </div>

    <div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>

    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") == false %}
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 mainBodyContentBox">
            <form id="login_form" class="form-signin" action="{{ path("fos_user_security_check") }}" method="post">
                <h2 class="form-signin-heading">Zaloguj się</h2>
                <hr/>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

                <label for="username">{{ 'security.login.username'|trans }}</label>
                <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}"
                       required="required" autofocus=""/>

                <label for="password">{{ 'security.login.password'|trans }}</label>
                <input type="password" class="form-control" id="password" name="_password" required="required"/>

                <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                <input type="checkbox" id="remember_me" name="_remember_me"/>

                <input type="submit" class="btn btn-lg btn-primary btn-block" id="_submit" name="_submit"
                       value="{{ 'security.login.submit'|trans }}"/>
            </form>
            <br/>
        </div>
        <script type="text/javascript">Login.Run();</script>
    {% else %}
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 mainBodyContentBox">
            <br/>
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation" class="active"><a href="#">Home</a></li>
                <li role="presentation"><a href="#">Profile</a></li>
                <li role="presentation"><a href="#">Messages</a></li>
            </ul>
            <br/>
        </div>
    {% endif %}

{% endblock fos_user_content %}
